.boxesContainer{
    z-index:-1;
}
.cardBox {
    float: left;
    font-size: 1.2em;
    margin: 1% 0 0 1%;
    perspective: 800px;
    transition: all 0.3s ease 0s;
    width: 23.7%;
    position: relative;
}
    .cardBox:hover .card {
        transform: rotateY(180deg);
    }
#uno-inicio {
    background-image: url('../imagenes/f5.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#uno-iniciob {
    background-image: url('../imagenes/f4.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}

#dos-inicio {
    background-image: url('../imagenes/s3.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#dos-iniciob {
    background-image: url('../imagenes/s2.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#tres-inicio {
    background-image: url('../imagenes/m1.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#tres-iniciob {
    background-image: url('../imagenes/m5.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#cuatro-inicio {
    background-image: url('../imagenes/h3.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
#cuatro-iniciob {
    background-image: url('../imagenes/h7.png');
    background-size: cover; /* Ajusta la imagen para cubrir completamente el contenedor */
    background-position: center; /* Centra la imagen en el contenedor */
}
.card {
    background: #222;
    cursor: default;
    height: 300px;
    transform-style: preserve-3d;
    transition: transform 0.4s ease 0s;
    width: 100%;
    -webkit-animation: giro 1s 1;
    animation: giro 1s 1;
}
.front, .back {
    backface-visibility: hidden;
    box-sizing: border-box;
    display: block;
    font-size: 1.2em;
    height: 100%;
    padding: 0.8em;
    position: absolute;
    text-align: center;
    width: 100%;
}
.back {
    transform: rotateY( 180deg);
}


.pinfo {
    margin-bottom: 1.8em;
    background-color:#8e8e8ed3;
}
.h3inicio {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
    background-color: #525252cc;
}
strong {
    background: #fff;
    border-radius: 100%;
    color: #222;
    font-size: 1.5em;
    line-height: 30px;
    padding: 0 7px 4px 6px;
}

.ia {
    padding: 0.3em 0.5em;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 1px;
    font-size: 0.9em;
    transition: all 0.2s ease 0s;
    background-color:#525252cc;
}

    .ia:hover {
        background: #fff;
        color: #333;
        text-shadow: 0 0 1px #333;
    }
.cardBox:nth-child(2) .card {
    -webkit-animation: giro 1.5s 1;
    animation: giro 1.5s 1;
}

.cardBox:nth-child(3) .card {
    -webkit-animation: giro 2s 1;
    animation: giro 2s 1;
}

.cardBox:nth-child(4) .card {
    -webkit-animation: giro 2.5s 1;
    animation: giro 2.5s 1;
}
@keyframes giro {
    from {
        transform: rotateY( 180deg);
    }

    to {
        transform: rotateY( 0deg);
    }
}

@-webkit-keyframes giro {
    from {
        transform: rotateY( 180deg);
    }

    to {
        transform: rotateY( 0deg);
    }
}
@media screen and (max-width: 767px) {

    .cardBox {
        margin-left: 2.8%;
        margin-top: 3%;
        width: 46%;
    }

    .card {
        height: 285px;
    }

    .cardBox:last-child {
        margin-bottom: 3%;
    }
}


@media screen and (max-width: 480px) {

    .cardBox {
        width: 94.5%;
        height: 290px;
    }
}
.info{
    position:center;
}
